body{
  font-family:"Calibri", Trebuchet MS, Helvetica, sans-serif;	
  margin:0;
  color:#413D3D;
  font-size:15px;
}

#container{
	width:1200px;
	margin:auto;
	background-color:#FFFFFF;
}

#topo{
	width:100%;
	height:80px;
	background-color:#FFFFFF;
	float:left;
	position:relative;
	border-bottom: 1px solid #ccc;
}

#logo{
	height:40px;
	float:left;
	position:relative;
	margin-top:1px;
	margin-left:10px;
}

#mediasocial{
	width:260px;
	float:right;
	position:relative;
	margin-right:10px;
	margin-top:10px;
}

#conteudo{
	width:1106px;
	float:left;	
	background-color:#FFFFFF;
	position:relative;
	margin-left:10px;
	margin-top:10px;
	text-align:justify;
	
}

#rodape{
	width:100%;
	height:40px;
	float:left;
	background-color:#FFFFFF;
	margin-top:10px;	
	position:relative;
	text-align:center;
	font-size:12px;
	border-top: 1px solid #ccc;
}

#menu{
	float:left;	
	width:80px;
	position:relative;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	/*border-left: 1px solid #ccc;*/
		
	/*transition: color 0.25s, box-shadow 0.25s;*/
}

.menulista{
list-style-type:none;
margin:0px;
padding:0px;
}

#menu ul li  a{
float:left;
position:relative;
background-color:#ffffff;
text-decoration:none;
color:#413D3D;
height:50px;
display:inline;
width:80px;
transition: width 0.1s, left 0.1s, color 0.25s;
}

#menu ul li  a:hover{
float:left;
position:relative;
z-index:100; /* para a sombra sobrepor o menu*/
border:1px solid #ccc;
width: 160px;
box-shadow: 5px 5px 2px grey;
}

#menu ul li img{
height:50px;
margin-right:10px;
float:right;
}
#menu .itemlista{
position:relative;
float:left;
}
#menu .labelmenu{
	float:left;
	margin: 15px;
	display:none;
	position:absolute;
	padding-right:50px;
}

#menu ul li a:hover .labelmenu{
	float:left;
	margin: 15px;
	display:inline;
	color:#413D3D;
	padding-right:0px;
}

#mediasocial img{
height:40px;
}

#rodape a{
text-decoration:none;
color:#413D3D;
}

#rodape a:hover{
text-decoration:underline;
}

.copyright{ 
	margin:auto;
	padding-top:10px;
	position:relative;
}

.imagemconteudo{
float:left;
margin-right:20px;
margin-left:20px;
margin-bottom:20px;
}

.faqlista1{
list-style-image:url('ul_faq1.png');
}

.faqlista2{
list-style-image:url('ul_faq2.png');

}

.galeria{
position:relative;
float:left;
margin-bottom: 30px;
}

.imagemconteudohome{
float:left;
margin:5px;
}

.textorcamento{ 
text-align: center;
color:#413D3D;
}

form{
    width:100%;
    color:#413D3D; /*cor da letra*/
	margin-left:none;
	border-left:none;
}

form fieldset{ 
    border:1px solid #CCC;   
    padding:10px;
    margin-top:5px;
}

fieldset#dadospessoais{
    width:43%;
    height:130px;
    margin-bottom:1px;
	float:left;
	position:relative;
}

fieldset#dadosevento{
    width:43%; 
    height:200px;
    margin-bottom:1px;
	float:left;
	position:relative;
	margin-left:5px;
}

fieldset#observacoes{
    width:43%; 
    height:130px;
    margin-bottom:1px;
	float:left;
	position:relative;
	top:-75px;
}

input[type=text],input[type=password],input[type=date],input[type=email]{
	border:solid 1px #999999;
        margin: 5px 5px;
}

select{
    margin: 5px 5px;
}

button{
	width:70px;
	height:25px;
	background-color:#CCC;
	border:5px;
	color:#413D3D;
	margin-top:10px;
}

button:hover{
    text-decoration: underline;    
}

#btsolicitar{
	position:relative;
	float:left;
	top: 80px;
	left: -25px;
}

#idform label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
		color:red;
}

.msgreq{
	float:left;
	color:red;
	
}

input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}

input:valid,
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
/* Pagina de selecao de imagens - cliente.php*/
.imagemCliente{
	float:left;
	position:relative;
	border: 1px solid #ccc;
	margin:5px;
	padding:10px;
}

.bkgImagemCliente{
	background-color:#ccc;
}

.imagemCliente input[type=checkbox]{
	display:none;
}

.imagemCliente label{
	width:300px;
	position:relative;
	float:left;
	text-align:center;
}

/* Pagina de login */
#loginBox{
	position:relative;
	float:left;
	width:200px;
	border: 1px solid #ccc;
	margin:0 auto;
	padding-left:15px;
	padding-bottom:15px;
}

#loginBox input[type=submit]{
width:170px;
margin:5px;
}
/* Tabelas da tela de cadastro de cliente*/
.tblClientes {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tblClientes table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tblClientes tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tblClientes table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tblClientes table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tblClientes tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tblClientes tr:hover td{
	background-color:#ffffff;
		

}
.tblClientes td{
	vertical-align:middle;
	
	background-color:#e5e5e5;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tblClientes tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tblClientes tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tblClientes tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tblClientes tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.tblClientes tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.tblClientes tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tblClientes tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}